/* .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  
  .live-detection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .home-icon {
    cursor: pointer;
    background-color: #0077be;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    font-size: 4rem;
  }
  
  .home-icon:hover {
    background-color: #005f99;
  }
  
  .home-icon svg {
    color: white;
    font-size: inherit;
  }
  
  video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
  
  .alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
   */